<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study.point">
    <!--反射batterstatehelp需要用到-->
    <!--android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.ums.upos.api.permission.SET_LOGRECORDER" />

    <permission
        android:name="com.ums.upos.api.permission.SET_LOGRECORDER"
        android:protectionLevel="normal" />


    <application
        android:name="com.test.viewpagedemo.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ViewPageDemo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.test.viewpagedemo.MainActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.viewpagedemo.Views.viewpage.adapter.BaseViewPageAdapterActivity" />
        <activity android:name="com.test.viewpagedemo.Views.event.EventTestAct" />
        <!--<activity android:name="com.test.viewpagedemo.Views.viewpage.restore.RestoreViewPageAdapterActivity" />-->
        <activity
            android:name="com.test.viewpagedemo.Views.fragment.FragmentBaseActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.test.viewpagedemo.Views.viewpage.fragmentadapter.FragmentadapterActivity" />
        <activity android:name="com.test.viewpagedemo.Views.viewpage.fragmentstateadapter.FragmentStateadapterActivity" />
        <!--<activity android:name="com.test.viewpagedemo.Views.fragment.DialogFragmentTest.DialogFragmentActivity" />-->
        <!--<activity android:name="com.test.viewpagedemo.Views.fragment.forresult.FragmentForResultActivity" />-->
        <activity android:name="com.test.viewpagedemo.Views.DrawerLayout.DrawerActivity" />
        <activity android:name="com.test.viewpagedemo.Retrofit.RetrofitAndRxJava" />
        <activity android:name="com.test.viewpagedemo.GreenDao.GreenDaoActivity" />
        <activity android:name="com.test.viewpagedemo.LeakCanary.TestLeakCanaryActivity" />
        <activity android:name="com.test.viewpagedemo.Glide.GlideActivity" />
        <activity android:name="com.test.viewpagedemo.OkHttp.OkHttpActivity" />
        <activity android:name="com.test.viewpagedemo.Views.TestCoordinatorLayout.TestCoordinatorLayoutActivity">

        </activity>
        <activity android:name="com.test.viewpagedemo.RxJavaNew.RxJavaNew" />
        <activity android:name="com.test.viewpagedemo.Views.RecyclerView.RecyclerViewAct" />
        <!--<activity android:name="com.test.viewpagedemo.SPI.SPIActivity" />-->
        <activity android:name="com.test.viewpagedemo.Bitmap.BitmapActivity" />
        <activity android:name="com.test.viewpagedemo.EventBus.EventBusActivity" />
        <activity android:name="com.test.viewpagedemo.DaggerNew.NewDaggerActivity" />
        <activity
            android:name="com.test.viewpagedemo.AOP.AOPActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.test.viewpagedemo.Views.SelfView.MySlideActivity" />
        <activity android:name="com.test.viewpagedemo.Views.ScrollTest.ScrollAtivity" />
        <activity android:name="com.test.viewpagedemo.SVG.SVGActivity" />
        <activity android:name="com.test.viewpagedemo.Lifecycle.ObserableActivity" />
        <activity android:name="com.test.viewpagedemo.Views.shareanim.ShareAnimActivity1" />
        <activity android:name="com.test.viewpagedemo.Views.shareanim.ShareAnimActivity2" />
        <activity android:name="com.test.viewpagedemo.Views.motionlayout.MotionLayoutActivity" />
        <activity
            android:name="com.test.viewpagedemo.WebView.WebViewActivity"
            android:process=":remote"/>
        <activity
            android:name="com.test.viewpagedemo.WebView.OnePxActivity"
            android:process=":remote"
            android:screenOrientation="portrait"
            android:theme="@style/OnePxActivityStyle"/>

        <activity android:name="com.test.viewpagedemo.inding.DatabindingActivity" />


        <meta-data
            android:name="com.test.viewpagedemo.Glide.MyGlideModule"
            android:value="GlideModule" />

        <!-- 个推SDK配置开始 -->
        <!--<service-->
        <!--android:name="com.test.viewpagedemo.mqttGetTui.DemoPushService"-->
        <!--android:exported="true"-->
        <!--android:label="PushService">-->
        <!--</service>-->
        <!--<service android:name="com.test.viewpagedemo.mqttGetTui.DemoIntentService"/>-->
        <!-- 配置的第三方参数属性 -->
        <!--<meta-data-->
        <!--android:name="PUSH_APPID"-->
        <!--android:value="${GETUI_APP_ID}" />-->
        <!--<meta-data-->
        <!--android:name="PUSH_APPKEY"-->
        <!--android:value="${GETUI_APP_KEY}" />-->
        <!--<meta-data-->
        <!--android:name="PUSH_APPSECRET"-->
        <!--android:value="${GETUI_APP_SECRET}" />-->

        <!--&lt;!&ndash; 配置SDK核心服务 &ndash;&gt;-->
        <!--<service-->
        <!--android:name="com.igexin.sdk.PushService"-->
        <!--android:exported="true"-->
        <!--android:label="NotificationCenter">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.igexin.sdk.action.service.message"/>-->
        <!--</intent-filter>-->
        <!--</service>-->

        <!--<receiver android:name="com.igexin.sdk.PushReceiver" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--<action android:name="android.intent.action.USER_PRESENT" />-->
        <!--<action android:name="com.igexin.sdk.action.refreshls" />-->
        <!--&lt;!&ndash; 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 &ndash;&gt;-->
        <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
        <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
        <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<activity-->
        <!--android:name="com.igexin.sdk.PushActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:exported="false"-->
        <!--android:taskAffinity="com.igexin.sdk.PushActivityTask"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" >-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name="com.igexin.sdk.GActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:exported="true"-->
        <!--android:taskAffinity="com.igexin.sdk.PushActivityTask"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->

        <!-- 个推SDK配置结束 -->
    </application>

</manifest>