<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="Metro, a sleek, intuitive, and powerful framework for faster and easier web development for Windows Metro Style.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, metro, front-end, frontend, web development">
    <meta name="author" content="Sergey Pimenov and Metro UI CSS contributors">

    <link type="text/css" rel="stylesheet" href="../../css/metro.css">
    <link type="text/css" rel="stylesheet" href="../../css/metro-icons.css">
    <script language="javascript" src="../upos-bundle/bundle-upos-android.min.js"></script>
    <script language="javascript" src="../upos-bundle/bundle-loader.js"></script>
    <script language="javascript" src="../libs/require.js"></script>
    <title>系统参数设置</title>
    <style>
        .button-box {
            margin: 10px auto;
            text-align: center;
        }

        #content fieldset {
            border-width: 1px 0 0;
        }
    </style>
</head>
<script language="javascript">
    require.config({
        shim: {
            'jquery': {
                exports: '$'
            },
            'ps': {
                deps: [],
                exports: 'persistence'
            },
            'ps.store.sql': {
                deps: ['ps'],
                exports: 'persistence.store.sql'
            },
            'ps.store.websql': {
                deps: ['ps.store.sql'],
                exports: 'persistence.store.websql'
            },
            'metro': {
                deps: ['jquery']
            },
            'mui': {
                deps: ['metro']
            }
        },
        paths: {
            jquery: '../libs/jquery',
            'ps': '../orm/persistence',
            'ps.store.sql': '../orm/persistence.store.sql',
            'ps.store.websql': '../orm/persistence.store.websql',
            'dbManager': '../orm/dbManager',
            'utils': '../utils',
            'config': 'config',
            "gbkcoder": '../gbkcoder',
            'paramsParser':'paramsParser'
        },
        waitSeconds: 10
    });
    require([
        'dbManager',
        'config',
            'paramsParser',
    ], function (dbManager, config ,paramsParser) {
        dbManager.open('scjj','四川交警数据库');  //这个方法应该放在全局的初始化里，一个应用只有一个数据库，且名称不能修改
        paramsParser.init('param.json',function(){
            alert('success');
        });
    });



</script>
<body>
<div id="content">
</div>
</body>
</html>